
.App {
  text-align: left;
  background-color: #FCF5ED;
  font-family: 'Montserrat', 'sans-serif';
  color: #000000
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body{
  margin-right: 100px;
  display: flex;
  justify-content: space-around;
  align-self: center;
  white-space: pre-wrap;
  color: #000000

}

.App-image{
  width: 25%;
  margin-left: 100px;
  margin-right: 10px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 10px #CE5A67;
  align-self: right;
  object-fit:cover;
}


.App-header {
  background-color: #F4BF96;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 5px 10px #CE5A67;
  color: black
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


